.my-text {
    color: white !important;
}

.white-content .my-text {
    color: rgba(34, 42, 66, 0.7) !important;
}

.my-danger-text-btn {
    color: rgb(241, 138, 138);
    transition: color 0.3s ease;
}

.my-danger-text-btn:hover {
    color: rgb(255, 255, 255);
}

.white-content .my-danger-text-btn:hover {
    color: rgba(34, 42, 66, 0.7) !important;
}

.my-link-text {
    color: #ba54f5;
}

.my-link-text:hover{
    color: #e14eca;
}
/* Toggle Button */

.day-night-toggle
{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 40px;
}


.day-night-toggle input[type="checkbox"]
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}


.day-night-toggle span
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: #fff;
    border-radius: 40px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

.day-night-toggle span:before,
.day-night-toggle span:after
{
    content: '';
    position: absolute;
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

.day-night-toggle span:before
{
    background-color: #fff;
    transform: translate(-58px,0px);
    z-index: 1;
}

.day-night-toggle span:after
{
    background-color: rgb(50, 82, 124);
    transform: translate(3px,0px);
    z-index: 0;
}

.day-night-toggle input[type="checkbox"]:checked + span
{
    background-color: rgb(50, 82, 124);
}

.day-night-toggle input[type="checkbox"]:active + span
{
    opacity: 0.5;
}

.day-night-toggle input[type="checkbox"]:checked + span:before
{
    background-color: rgb(50, 82, 124);
    transform: translate(15px,-5px);
}

.day-night-toggle input[type="checkbox"]:checked + span:after
{
    background-color: #fff;
    transform: translate(21px,0px);
}


/* Pop up Styling */

.popup-content {
    margin: auto;
    background: linear-gradient(#1e1e2f, #1e1e24);
    width: 80%;
    padding: 5px;
    max-height: 60vh;
  }

  @media (min-width: 768px) {
    .popup-content {
      margin: auto;
      background: linear-gradient(#1e1e2f, #1e1e24);
      width: 50%;
      padding: 5px;
      max-height: 60vh;
    }
  }


  popup-container {
    max-height: 60vh;
    overflow: auto;
  }

  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

  .white-content .fixed-plugin .dropdown-menu {
    background: linear-gradient(#ffffff, #fefffb); }